.music-card a {
    display: inline-block;
    font-size: 5rem;
    padding: 0.6em 1.2em;
    border-radius: 9999px;
    background: rgba(0, 0, 0, 1);
    box-shadow: 0 0.025em 0.4em -0.02em hsl(0 0% 100% / 0.25),
        0 0.05em 0 0 hsl(260 0% 50%) inset,
        0 -0.05em 0 0 hsl(260 0% 0%) inset;
    border: 0;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: white;
    text-align: center;
    min-width: 100px;
}
