
#playlistTitleContainer {
    margin-top: 2rem;
}

#playlistTitleContainer h2 {
    color: #1a202c;
    text-align: center;
    position: relative;
    margin-bottom: 0.2rem;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
}

